@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
  .top-bar {
    flex-direction: column;
    padding: 4px;
  }
  nav {
    height: 44dvh;
  }
  ul.nav-bar-items li.nav-bar-item {
    display: inline-block;
    padding: 2rem 1rem;
  }
  ul.nav-bar-items li.nav-bar-item a {
    font-size: 11px;
  }
  .nav-description .right-side-box {
    display: none;
  }
  div.nav-description {
    display: inline-block;
    padding: 4rem;
  }
  .left-side-box .hero_heading {
    font-family: cursive;
    font-size: 3.2rem;
    font-family: "Zen Dots", sans-serif;
    letter-spacing: 1px;
  }
  div.hero_images {
    display: none;
  }
  div.feature-row {
    flex-direction: column;
  }
  div.col-left {
    flex-basis: 0%;
    display: none;
  }
  section.fun-facts {
    margin-top: 16rem;
    justify-content: center;
    color: var(--text-color);
    flex-direction: column;
  }

  div.screenshot-main-heading h1,
  div.screenshot-main-heading h1 span,
  div.d-s-main-heading h1,
  div.d-s-main-heading h1 span,
  div.f-f-row1 h1,
  div.f-f-row1 h1 span,
  div.feauter-main-heading h1,
  div.feauter-main-heading h1 span {
    font-size: 3rem;
  }
  section.screen-shot-container {
    flex-direction: column;
  }
  div.inside-download-section {
    flex-direction: column;
  }
  div.d-s-box {
    max-width: 100%;
    margin: 1rem;
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  html {
    font-size: 8px;
  }
  .top-bar {
    flex-direction: column;
    padding: 4px;
  }
  nav {
    height: 44dvh;
  }
  ul.nav-bar-items li.nav-bar-item {
    display: inline-block;
    padding: 2rem 1rem;
  }
  ul.nav-bar-items li.nav-bar-item a {
    font-size: 11px;
  }
  .nav-description .right-side-box {
    display: none;
  }
  div.nav-description {
    display: inline-block;
    padding: 4rem;
  }
  .left-side-box .hero_heading {
    font-family: cursive;
    font-size: 3.2rem;
    font-family: "Zen Dots", sans-serif;
    letter-spacing: 1px;
  }
  div.hero_images {
    display: none;
  }
  div.feature-row {
    flex-direction: column;
  }
  div.col-left {
    flex-basis: 0%;
    display: none;
  }
  section.fun-facts {
    margin-top: 16rem;
    justify-content: center;
    color: var(--text-color);
    flex-direction: column;
  }

  div.screenshot-main-heading h1,
  div.screenshot-main-heading h1 span,
  div.d-s-main-heading h1,
  div.d-s-main-heading h1 span,
  div.f-f-row1 h1,
  div.f-f-row1 h1 span,
  div.feauter-main-heading h1,
  div.feauter-main-heading h1 span {
    font-size: 3rem;
  }
  section.screen-shot-container {
    flex-direction: column;
  }
  div.inside-download-section {
    flex-direction: column;
  }
  div.d-s-box {
    max-width: 100%;
    margin: 1rem;
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
    html {
      font-size: 9px;
    }
    .top-bar {
      flex-direction: row;
      padding: 4px;
    }
    nav {
      height: 60dvh;
    }
    ul.nav-bar-items li.nav-bar-item {
      display: inline;
      padding: 2rem 1rem;
    }
    ul.nav-bar-items li.nav-bar-item a {
      font-size: 11px;
    }
    .nav-description .right-side-box {
      display: inline-block;
      max-width :200px;
    }
    div.nav-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4rem;
    }
    .left-side-box .hero_heading {
      font-family: cursive;
      font-size: 3.2rem;
      font-family: "Zen Dots", sans-serif;
      letter-spacing: 1px;
    }
    div.hero_images {
      display: none;
    }
    div.feature-row {
      flex-direction: column;
    }
    div.col-left {
      flex-basis: 0%;
      display: none;
    }
    section.fun-facts {
      margin-top: 16rem;
      justify-content: center;
      color: var(--text-color);
      flex-direction: column;
    }
  
    div.screenshot-main-heading h1,
    div.screenshot-main-heading h1 span,
    div.d-s-main-heading h1,
    div.d-s-main-heading h1 span,
    div.f-f-row1 h1,
    div.f-f-row1 h1 span,
    div.feauter-main-heading h1,
    div.feauter-main-heading h1 span {
      font-size: 3rem;
    }
    section.screen-shot-container {
      flex-direction: column;
    }
    div.inside-download-section {
      flex-direction: column;
    }
    div.d-s-box {
      max-width: 100%;
      margin: 1rem;
    }
  }
  
