
section.fun-facts {
    display: flex;
    align-items: center;
    margin-top: 16rem;
    justify-content: space-between;
    color: var(--text-color);
  }

  div.col-left{
    flex-basis: 32%;
  }
  div.col-right {
    flex-basis: 68%;
  }
  div.col-left img {
    width: 88%;
    text-align: center;
  }
  div.col-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div.f-f-row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  div.f-f-box {
    padding: 3rem;
    margin: 1rem;
    width: 30rem;
    height: 15rem;
    text-align: center;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
  }
  
  div.f-f-box:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
  }
  
  div.f-f-row1 {
    text-align: left;
    margin-bottom: 8rem;
    flex-basis: 40%;
  }
  div.f-f-row1 h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
  }
  div.f-f-heading span {
    color: var(--primary-color);
    font-weight: 600;
  }
  div.f-f-box1 {
    background: #ee2260;
  }
  div.f-f-box2 {
    background: #bba10a;
  }
  div.f-f-box3 {
    background: #14a384;
  }
  div.f-f-box4 {
    background: #6a33d1;
  }
  div.f-f-row2 h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  div.f-f-discription p {
    color: #bbb;
    text-align: justify;
    font-size: 1.5rem;
    max-width: 60rem;
    letter-spacing: .4px;

  }
  